body {
    /* padding-top: 44px; */
    background-color: rgba(255, 35, 35, 0);
}

.container-fluid {
    margin: 0;
    padding: 1;
}

.blue-container {
    background-image: url(../wormz.png);
    padding-top: 55px;
    padding-bottom: 77px;
    margin-top: 11px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.red-container {
    background-image: url(../wormz-red.gif);
    padding-top: 55px;
    padding-bottom: 77px;
    margin-top: 11px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.green-container {
    background-image: url(../wormz-green.gif);
    padding-top: 55px;
    padding-bottom: 77px;
    margin-top: 11px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.i-html,
.i-css,
.i-js,
.i-jq,
.i-boot,
.i-matt,
.i-node,
.i-react,
.i-exp,
.i-ang,
.i-webp,
.i-npm,
.i-seq,
.i-mongo,
.i-mlab,
.i-fire,
.i-mysql,
.i-kairos,
.i-face,
.i-wpress,
.i-sqsp,
.i-heroku,
.i-gith,
.i-bit,
.i-html {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: xx-large;
    display: none;
    margin-bottom: 0px;
    position: absolute;
    bottom: 14px;
    left: 22px;
    text-decoration: underline;
}

.intro-image img {
    position: absolute;
    top: 15vh;
    width: 100%;
    transition: all 800ms ease-in-out;
    /* background-position: right; */
}

.intro-image:hover img {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    padding: 15px;
}

.intro-image-2 img {
    /* background-image: url("../images/Graphics/Bobby_Intro_Face.svg"), url("../images/Graphics/Bobby_Intro_Text.svg"); */
    position: absolute;
    top: 15vh;
    width: 100%;
    transition: all 800ms ease-in-out;
    /* background-position: right; */
}

.intro-image-2:hover img {
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    -webkit-transform: rotate(-360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-360deg);
    padding: 15px;
}

.intro-arrow img {
    /* position: absolute; */
    margin-top: 4vh;
    bottom: 0;
    width: 100%;
    transition: all 4000ms ease-in-out;
    position: relative;
    width: 55px;
    /* background-position: right; */
}

.parallax {
    /* The image used */
    background-image: url("../images/Photo/RockTwins.jpg");
    /* Set a specific height */
    /* height: 500px;  */
    height: 140vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_two {
    /* The image used */
    background-image: url("../images/Photo/RED.jpg");
    /* Set a specific height */
    /* height: 500px;  */
    height: 60vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% auto
}

.parallax_three {
    /* The image used */
    background-image: url("../images/Photo/DSC04028_edited_crop_rotate.png");
    /* Set a specific height */
    /* height: 500px;  */
    height: 99vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto
}

#name_card {
    width: 220px;
    background-color: rgba(255, 35, 35, 0);
    box-shadow: 0;
    box-shadow: 0 0 70px rgba(33, 33, 33, 0);
    margin: 22px 0 0 0;
    float: right;
}

#dev_card {
    background-color: rgba(255, 35, 35, 0);
    box-shadow: 0;
    box-shadow: 0 0 70px rgba(33, 33, 33, 0);
    font-family: 'Lobster', cursive;
}

#intro_card {
    height: 478px;
}

.btn-group-vertical {
    margin-top: 57vh;
    position: fixed;
    margin-left: -20px;
    float: left;
    z-index: 99;
}

.nav_text-dev,
.nav_text-design,
.nav_text-media,
.nav_text-info {
    display: inline;
    font-weight: bolder;
    font-size: large
}

.top_scroll-btn {
    float: right;
}

/* Nav Text */

.hover_text p {
    opacity: 0;
    transition: all .6s ease-in-out;
    /* margin: 15px 15px 0px 0px */
}

.hover_text:hover p {
    opacity: 1;
    /* transform: scale(1.5); */
    /* margin: 15px 15px 0px 0px */
}

.hover_text img {
    opacity: 1;
    transition: all .6s ease-in-out;
    /* margin: 15px 15px 0px 0px */
}

.hover_text:hover img {
    opacity: .5;
    margin-left: -22px
    /* transform: scale(1.5); */
    /* margin: 15px 15px 0px 0px */
}

.hideme {
    opacity: 0;
}

/* Box Icons */

.hover_icon a {
    opacity: 0;
    float: right;
    transition: all .9s ease-in-out;
    width: 33px;
}

.hover_icon:hover a {
    opacity: .9;
    transform: scale(1.11);
}

.hover_icon div.holder {
    opacity: 1;
    transition: all 1s ease-in-out;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 140px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(255, 255, 255, 0.85) 22%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(255, 255, 255, 0.85) 22%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(255, 255, 255, 0.85) 22%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.hover_icon:hover div.holder {
    opacity: 1;
}

.hover_icon img.bt_icon-spacing {
    opacity: .3;
    width: 9%;
    margin: 1%;
    transition: all 1.1s ease-in-out;
}

.hover_icon:hover img.bt_icon-spacing {
    opacity: 1;
    width: 9%;
    margin: 1%;
}

.front_end,
.back_end,
.node_end {
    float: right;
}

.grad1 {
    height: fit-content;
    padding: 22px;
    background: rgb(255, 255, 255, .90);
    margin-bottom: 33px;
    border-top-right-radius: 44px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* For browsers that do not support gradients */
    /* background: linear-gradient(to right, rgba(255, 152, 152, 0.288), rgb(255, 255, 255));
    border: inset 3px rgb(91, 95, 156, .7);
    border-radius: 3px; */
    /* Standard syntax (must be last) */
}

.grad1-inset {
    height: fit-content;
    padding: 22px;
    background: rgb(255, 255, 255, .90);
    margin-bottom: 33px;
    border-top-right-radius: 44px;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* For browsers that do not support gradients */
    /* background: linear-gradient(to right, rgba(255, 152, 152, 0.288), rgb(255, 255, 255));
    border: inset 3px rgb(91, 95, 156, .7);
    border-radius: 3px; */
    /* Standard syntax (must be last) */
}

/* .hover_title{
    
}
.hover_title:hover{} */

.btn {
    background-color: rgba(255, 35, 35, 0);
    text-align: left;
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Lobster', cursive;
    color: red;
    /* font-weight: bolder */
}

.btn:focus {
    outline: none;
}

.icons {
    transition: transform .3s;
    transform: scale(1);
    /* Animation */
}

.icons:hover {
    transform: scale(1.2);
}

.dev_icons-spacing {
    width: 55px;
    margin: 10px;
}

.footer-style {
    background-color: black;
    height: 333px;
    width: 100%;
    /* clear: both;
    bottom: 0; */
}

.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

/* Category Boxes */

/* .audio-box,
.video-box,
.code-box,
.tech-box,
.photo-box,
.contact-box,
.illi-box {
    background-color: seashell;
    transition: box-shadow .3s;
    padding: 33px;
    border: black solid 2px;
    height: 333px;
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 70px rgba(33, 33, 33, .22);
} */

* {
    box-sizing: border-box;
}

/* ---- grid ---- */

.grid {
    /* border: dotted 1px red; */
    border: none;
}

/* ---- grid-item ---- */

.replace-g-item {
    /* width: 50px;
    height: 50px; */
    /* float: left;
    background: rgba(0, 0, 0, 0.07); */
    transition: box-shadow .3s;
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
    /* margin-bottom: 50px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.grid-item {
    display: inline-block;
    background: rgba(0, 0, 0, 0.07);
    transition: box-shadow .3s;
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
    padding: 15px;
    margin-bottom: 44px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 5%;
    height: 50px;
}

.grid-sizer {
    width: 5%
}

.gutter-sizer {
    width: 5%;
}

.grid-item--no-border {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 70px rgba(33, 33, 33, 0);
}

.grid-item:hover {
    /* background: green; */
    /* border: 2px solid #333; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
}

/* OLD */

/* .grid-item--width25p {
    width: 30%;
}

.grid-item--width75p {
    width: 60%;
}

.grid-item--width100p {
    width: 100%;
} */

.grid-item--width-15 {
    width: 15%;
}

.grid-item--width-20 {
    width: 20%;
}

.grid-item--width-25 {
    width: 25%;
}

.grid-item--width-30 {
    width: 30%;
}

.grid-item--width-35 {
    width: 35%;
}

.grid-item--width-40 {
    width: 40%;
}

.grid-item--width-45 {
    width: 45%;
}

.grid-item--width-50 {
    width: 50%;
}

.grid-item--width-55 {
    width: 55%;
}

.grid-item--width-60 {
    width: 60%;
}

.grid-item--width-65 {
    width: 65%;
}

.grid-item--width-70 {
    width: 70%;
}

.grid-item--width-75 {
    width: 75%;
}

.grid-item--width-80 {
    width: 80%;
}

.grid-item--width-85 {
    width: 85%;
}

.grid-item--width-90 {
    width: 90%;
}

.grid-item--width-95 {
    width: 95%;
}

.grid-item--width-100 {
    width: 100%;
}

.grid-item--width-fluid {
    width: 100%;
}

.grid-item--height-fit {
    height: fit-content;
}

/* Height */

.grid-item--height1 {
    height: 50px;
}

.grid-item--height2 {
    height: 150px;
}

.grid-item--height3 {
    height: 250px;
}

.grid-item--height4 {
    height: 350px;
}

.grid-item--height5 {
    height: 450px;
}

.grid-item--height6 {
    height: 550px;
}

.grid-item--height7 {
    height: 650px;
}

.grid-item--height-fitcontent {
    height: fit-content;
}